

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h4>About</h4>
      <p>This is something about the about the about sequence of the assignment</p>
      <h5>Joined:</h5>
      <p>November 15, 2015</p>
      <h5>Lives:</h5>
      <p>Bangalore, India</p>
      <h5>Email:</h5>
      <p>xyz@gmail.com</p>
      <h5>Website:</h5>
      <p>www.xyz.com</p>
    </div>
    <div class="col-md-4">
      <ul>
        <h4>Suggested Pages</h4>
        <li>Rockoge</li>
        <li>The Devils's</li>
        <li>The magician</li>
        <li>AC/DC</li>
        <li>Eat Hard</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <h4>Another Pages</h4>
        <li>Rockoge</li>
        <li>The Devils's</li>
        <li>The magician</li>
        <li>AC/DC</li>
        <li>Eat Hard</li>
      </ul>
    </div>
  </div>
</div>
